<% include layout %>
<h1 class='bg-primary'> Decide what to do now!</h1>
  <hr/>
  <h3  style='background-color:yellow'>
   <a href="/register">Register</a> or 
   <a href="/login">Login</a> to continue!
   or
  <a href="/logout">Logout</a>
   </h3>